.footer {
  padding: $mainPadTop 0;
  background-color: #363640;
  background-image: url(../img/footer-fon.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__logo {
    width: 85px;
    margin-bottom: 55px;

    @media screen and (max-width: 575px) {
      margin: 0 auto;
      margin-bottom: 55px;
    }

    .logo {
      background-image: url(../img/logo.svg);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      height: 30px;
      width: 85px;
      margin-bottom: 20px;

      @media screen and (max-width: 767px) {
        margin-bottom: 30px;
      }

      @media screen and (max-width: 575px) {
        margin-bottom: 20px;
      }
    }

    .text {
      font-weight: 300;
      font-size: 12px;
      color: $whiteColor;
      text-align: center;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      align-items: flex-end;
    }

    @media screen and (max-width: 575px) {
      align-items: center;
    }

    .footer__link {
      font-size: 12px;
      color: $whiteColor;
      font-weight: 500;
      text-transform: uppercase;
      transition: all .3s;
      &:last-child{margin-right: 0;}

      @media screen and (max-width: 767px) {
        margin-bottom: 5px;
      }

      @media screen and (max-width: 575px) {
        margin-bottom: 15px;
      }

      &:hover {
        color: $hoverColor;
        transition: all .3s;
      }
    }
  }

  &__connect {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    .text {
      font-weight: 300;
      font-size: 14px;
      text-transform: uppercase;
      margin-bottom: 10px;
      color: #A0A1A5;

      @media screen and (max-width: 575px) {
        text-align: center;
      }
    }

    .mail {
      font-weight: 700;
      font-size: 14px;
      color: $whiteColor;
      text-transform: uppercase;
      transition: all .3s;

      @media screen and (max-width: 575px) {
        text-align: center;
      }

      &:hover {
        transition: all .3s;
        color: $hoverColor;
      }
    }
  }

  &__last {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: flex-end;

    @media screen and (max-width: 575px) {
      flex-direction: column;
      padding-top: 50px;
      align-items: center;
    }

    .footer__social {
      display: flex;

      .item {
        height: 25px;
        width: 25px;
        background-color: #717178;
        border-radius: 50%;
        margin-right: 25px;
        transition: all .5s;
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;

        @media screen and (max-width: 575px) {
          &:last-child {
            margin-right: 0;
          }
        }

        &:hover {
          background-color: $hoverColor;
          transition: all .5s;
          cursor: pointer;
        }
      }

      .telegram {background-image: url(../img/telegram.svg);}
      .whatsap {background-image: url(../img/whatsap.svg);}
      .twitter {background-image: url(../img/twitter.svg);}
      .youtube {background-image: url(../img/youtube.svg);}
      .instagram {background-image: url(../img/instagram.svg);}
    }

    .footer__link {
      @media screen and (max-width: 575px) {
        padding-top: 50px;
      }

      a {
        display: block;
        text-align: right;
        color: $whiteColor;
        font-weight: 500;
        font-size: 12px;
        line-height: 24px;
        transition: all .3s;

        @media screen and (max-width: 575px) {
          text-align: center;
        }

        &:hover {
          transition: all .3s;
          color: $hoverColor;
        }
      }
    }
  }
}