.header-wrapper {
  background-color: #363640;
  padding-top: 120px;
  // background-size: contain;
  background-position: left top;
  background-repeat: no-repeat;
  background-image: url(../img/home-fone-1.png);
}