.modal-window {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(54,54,64,.9);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;


  .modal-body {
    background-color: rgba(73,53,254,.8);
    padding: 70px 100px;
    border-radius: 5px;
    box-shadow: 0px 15px 40px 10px rgba(0, 0, 0, 0.25);
    position: relative;
    max-height: 90%;
    overflow: auto;
    
    @media screen and (max-width: 650px) {
      width: 90%;
    }
    
    @media screen and (max-width: 575px) {
      padding: 70px 20px;
    }

    .modal-close {
      position: absolute;
      width: 25px;
      height: 25px;
      background-image: url(../img/close.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      top: 20px;
      right: 20px;
      border: none;
      background-color: transparent;

      &:hover {cursor: pointer;}
    }

    .modal-title {
      font-size: 18px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      color: $whiteColor;
      letter-spacing: 1px;
      margin-bottom: 70px;
    }

    .modal-form {
      width: 400px;

      @media screen and (max-width: 650px) {
        width: 100%;
      }

      &__input {
        width: 100%;
        background-color: transparent;
        border: 1px solid #7C70E2;
        border-radius: 40px;
        margin-bottom: 20px;
        &:last-child{margin-bottom: 0;}
        padding: 20px 30px;
        color: #AFA9ED;
        
        &::placeholder{
          color: #AFA9ED;
          background-color: transparent;
          font-weight: 300;
          font-size: 14px;
          letter-spacing: 1px;
        }

        &--submit {
          text-transform: uppercase;
          font-weight: 500;
          font-size: 12px;
          color: $whiteColor;
          box-shadow: 0px 15px 40px 10px rgba(0, 0, 0, 0.25);
          border: none;
          background-color: #7C70E2;
          width: 255px;
          display: block;
          margin: 0 auto;
          margin-top: 50px;
          transition: all .3s;

          &:hover {
            cursor: pointer;
            color: #000;
            background-color: $hoverColor;
            transition: all .3s;
          }
        }
      }
    }
  }
}